---
http_interactions:
- request:
    method: get
    uri: https://publishing-api.singleplatform.com/locations/hakkasan-mayfair/menus/?client=c3sbrpbtkbs5gverurfkxpemc&passthrough=SIERRA&signature=WFHda9mGnXJZI4TVOqhvgSDvvDA=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: ASCII-8BIT
      string: '{"code":200,"data":[{"id":3808555,"menu_type":"Menu","location_id":"hakkasan-mayfair","name":"A
        la Carte","description":"","footnote":"''v'' - Vegetarian; ''vg'' - Vegan;
        ''g'' - Made with ingredients not containing gluten ","order_num":1,"currency":"GBP","created":"2020-03-10T09:25:01","updated":"2020-07-25T12:57:08","sections":[{"id":32331027,"name":"Supreme","description":"","order_num":0,"items":[{"id":182263955,"name":"Hakkasan
        signature Peking duck","description":"Whole duck, pancakes, 30g of caviar,
        second course, choice of XO sauce, black bean sauce or ginger and spring onion.
        The award-winning Irish duck produces a tender duck full of flavour and consistent
        in quality. This unique duck is the secret to the success of our supreme signature
        Peking duck dish, with its succulent meat and crispy skin","order_num":0,"choices":[{"name":"","unit":"","calories":{"max":"","min":""},"prices":{"max":"","min":110},"order_num":1}],"attributes":{},"photos":[{"photo_id":"897562a08b335bed66cbf50803ede9227528905f","title":"","type":"Product","url":"https:\/\/photos.singleplatform.com\/897562a08b335bed66cbf50803ede9227528905f.jpg","source":"singleplatform"}],"additions":[]},{"id":189740232,"name":"Hakkasan
        signature Peking duck with Prunier caviar","description":"Whole duck, pancakes,
        30g of caviar, second course, choice of XO sauce, black bean sauce or ginger
        and spring onion. The award-winning Irish duck produces a tender duck full
        of flavour and consistent in quality. This unique duck is the secret to the
        success of our supreme signature Peking duck dish, with its succulent meat
        and crispy skin","order_num":1,"[...]
