.c9
.env
.rspec
.coveralls.yml
coverage/**/*
.aws-sam
.bundle/**/*
samconfig.toml
themes/**/*/
!themes/standard.theme/
!themes/default.theme/
.gitmodules

docs-src/.sass-cache
docs-src/.jekyll-cache
docs-src/.jekyll-metadata
docs-src/vendor