---
http_interactions:
- request:
    method: get
    uri: https://publishing-api.singleplatform.com/locations/hakkasan-mayfair/menus/?client=c3sbrpbtkbs5gverurfkxpemc&format=short&signature=r1Eb3t%2BSw34hbWVGhLmQRI5tFa8=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: ASCII-8BIT
      string: '{"code":200,"data":[{"id":3808555,"location_id":"hakkasan-mayfair","name":"A
        la Carte","description":"","menu_type":"Menu","footnote":"''v'' - Vegetarian;
        ''vg'' - Vegan; ''g'' - Made with ingredients not containing gluten ","attribution_image":"http:\/\/a.singleplatform.com\/DirectBusinessIntegration\/hakkasan-mayfair\/provided_by_2.png?sp_dt=20200721","attribution_image_link":"http:\/\/www.singleplatform.com\/partner-lp?ref=DirectBusinessIntegration&sp_channel=viral&sp_source=publisher&sp_campaign=sp&sp_dt=20200721","secure_attribution_image":"https:\/\/a.singleplatform.com\/DirectBusinessIntegration\/hakkasan-mayfair\/provided_by_2.png?sp_dt=20200721","secure_attribution_image_link":"https:\/\/www.singleplatform.com\/partner-lp?ref=DirectBusinessIntegration&sp_channel=viral&sp_source=publisher&sp_campaign=sp&sp_dt=20200721","entries":[{"id":182263955,"name":"\u5317\u4eac\u7247\u76ae\u9e2d
        Hakkasan signature Peking duck","description":"Whole duck, pancakes, 30g of
        caviar, second course, choice of XO sauce, black bean sauce or ginger and
        spring onion. The award-winning Irish duck produces a tender duck full of
        flavour and consistent in quality. This unique duck is the secret to the success
        of our supreme signature Peking duck dish, with its succulent meat and crispy
        skin","order_num":0,"choices":[{"name":"","unit":"","calories":{"max":"","min":""},"prices":{"max":"","min":110},"order_num":1}],"attributes":{},"photos":[{"photo_id":"897562a08b335bed66cbf50803ede9227528905f","title":"","type":"Product","url":"https:\/\/photos.singleplatform.com\/897562a08b335bed66cbf50803ede9227528905f.jpg","source":"singleplatform"}],"additions":[]},{"id":182263956,"name":"\u9f99\u7687\u7c9f\u7c73\u7fb9
        Royal sweetcorn soup","description":"lobster, gai lan","order_num":0,"choices":[{"name":"","unit":"","calories":{"max":"","min":""},"prices":{"max":"","min":17},"order_num":0}],"attributes":{},"photos":[{"photo_id":"59b8411d2e929d9c9529504fb624a0a7093c8bec","title":"","type":"Product","url":"https:\/\/photos.singleplatform.com\/59b8411d2e929d9c9529504fb624a0a7093c8bec.jpg","source":"singleplatform"}],"additions":[]},{"id":1822639[...]
