$border-width: 0.05rem !global;

.menu-driver {

  header {
    @extend %sans-serif-font;
    text-transform: uppercase;
    margin-bottom: 0;
    .logo {
      margin-left: $base-line-height;
    }
    a {
      line-height: 1rem;
    }
    display: flex;
    flex-wrap: wrap;
    div {
      margin: 0;
    }
    .location {
      flex: 1;
      svg {
        height: $base-line-height * 2;
        margin-top: -.8rem;
        .cls-1 {
          fill: var(--brand-accent-color);
        }
      }
      $a-tags: 'a, a:active, a:hover, a:visited';
      $a-tags-hover: 'a:active, a:hover';
      #{$a-tags} {
        color: $brand-primary-dark-color;
        text-decoration: none;
      }
      #{$a-tags-hover} {
        color: $brand-primary-dark-color;
    }
  }
    .hamburger {
      margin-right: $base-line-height;
      width: $base-line-height;
      margin-left: 1.4rem;
      .toggle span {
          background: var(--brand-primary-dark-color);
          display: block;
          margin: 5px 0;
          height: 2px;
          width: 100%;
      }
    }
  }

  .menu {
    color: var(--brand-primary-dark-color);
    background-color: var(--brand-primary-light-color);
    border-color: var(--border-color);
    padding-top: 0;
    border-top-width: 0;
    margin-top: $base-line-height * 2;
    .description {
      color: var(--brand-secondary-color);
    }
    .section {
      .name {
        color: var(--brand-color);
        border: unset;
        @include type-setting(0);
        margin: 0;
      }
    }
    .section > .name {
      margin: 0;
    }
    .section > .meta > .description {
      font-style: italic;
    }
    .section + .section {
      padding-top: $base-line-height - $border-width;
      border-top: $border-width solid var(--border-secondary-color);
    }
  }
  .menu > .name, .category > .category_name {
    color: var(--brand-secondary-color);
    text-align: left;
    margin-bottom: - $border-width;
    border-bottom: $border-width solid var(--border-color);
  }
  .category > .category_name {
    margin-bottom: 2rem;
  }
  .menu > .description {
    font-style: italic;
  }
  .menu.rtl {
    text-align: right;

    .name {
      text-align: right;
    }
  }

  .guide {
    &, &:before, &:after {
      outline: 3px dotted white;
    }
  }

  nav.category-nav, nav.menu-nav {
    background-color: var(--brand-primary-light-color);
    border-color: var(--brand-primary-light-color);
    border-bottom-width: $border-width;
    margin-bottom: 0;
    line-height: $base-line-height - $border-width;
    align-items: flex-end;

    .scroll-thumb svg {
      fill: var(--brand-accent-color);
    }

    ul {
      background-color: var(--brand-background-color);
      padding-bottom: 0;

      li {
        a.current, a:visited.current {
          color: var(--brand-accent-color);
          background-color: unset;
          border-bottom: $border-width solid var(--brand-accent-color);
        }
        // a, a:visited, a:hover, a:active {
        //   color: inherit;
        // }
      }
      // The category navigation puts the 'current' class on the <li> instead of the
      // <a> within it.  TODO: Make that more consistent and DRY these styles.
      li.current {
        a, a:visited {
          color: var(--brand-secondary-color);
          background-color: unset;
          border-bottom: $border-width solid var(--brand-secondary-color);
        }
      }
      // Skip the underline for the category name if it's a single-category menu.
      li.current:only-child a, a:visited {
        border-bottom: 0;
      }
    }

  }
  #category-nav-thumb {
    background-color: var(--brand-primary-light-color);
    position: sticky;
    top: 0;
    z-index: 2;
  }
  nav, #category-nav-thumb {
    .scroll-thumb {
      svg {
        fill: var(--brand-secondary-color);
      }
    }
  }
  nav.category-nav {
    z-index: 3;
  }
  nav.menu-nav {
    top: $base-line-height;
    padding-bottom: $base-line-height;
    margin-bottom: $base-line-height;
    box-shadow: 0px 6px 20px -6px var(--border-dark-color);
  }
  .menus {
    margin-top: -$base-line-height;
  }

  .menu {
    a.anchor {
      display: block;
      position: relative;
      // top: - ($base-line-height * 3);
    }
  }

  nav.menu-nav, nav.category-nav {
    border-style: solid;
    border-top: $border-width;
    border-bottom-color: var(--brand-primary-light-color);
    border-bottom-width: $border-width;
    border-bottom-style: solid;
    margin-left: unset;
    margin-right: unset;
  }
  nav.category-nav {
    margin-bottom: 0;
  }

  padding-left: 0;
  padding-right: 0;

  .menu-content {
    #hamburger-menu {
      pointer-events: none;
      @extend %serif-font;
      position: absolute;
      top: 0px;
      bottom: 0px;
      left: 0px;
      right: 0px;
      background-color: $brand-primary-light-color;
      z-index: 4;
      transition: 1s;
      transition-timing-function: ease-in-out;
      padding-left: $base-line-height;
      opacity: 0;
      pointer-events: none;

      li {
        a, a:visited {
          color: $brand-primary-dark-color;
          text-decoration: none;
        }
        padding-bottom: $base-line-height;
      }
    }
    #hamburger-menu.active {
      pointer-events: auto;
      opacity: 1;
      pointer-events: auto;
    }
  }

  #cookie-notice {
    color: var(--brand-primary-dark-color);
    background-color: var(--brand-primary-light-color);
    border-color: var(--brand-secondary-color);
    border-top-width: $border-width;
    .button {
      color: var(--brand-primary-light-color);
      background-color: var(--brand-primary-dark-color);
      border-color: var(--brand-secondary-color);
      a, a:visited {
        color: var(--brand-primary-light-color);
        background-color: var(--brand-primary-dark-color);
      }
    }
  }

  .legend {
    display: none;
  }
}

.wide_only {
  display: none;
}
.menu-driver {
  header {
    a {
      text-decoration-line: none;
    }
    .wide_only, .location {
      padding-left: 0;
      // white-space: nowrap;
    }
    .wide_nav {
      flex: 1;
      padding: 0;
      margin: 0;
      text-align: right;
      white-space: nowrap;
    }
    li {
      font-weight: 600;
      display: inline;
      list-style-type: none;
      padding-left: $base-line-height;
      border-width: 0;
      a {
        margin-top: -1rem;
      }
      a.btn-reservations {
        padding-top: 14px;
        padding-bottom: 13px;
        padding-left: 9px;
        padding-right: 9px;
      }
    }
  }
  .fa-camera {
    opacity: 0.5;
  }
  #menu-item-image {
    color: var(--menu-color);
    background-color: var(--menu-background-color);
    z-index: 5;
    #close-icon {
      color: var(--menu-color);
    }
  }
}

@media only screen and (min-width: 768px) {
  .menu-driver {
    padding-left: $base-line-height;
    padding-right: $base-line-height;
    header {
      margin-bottom: $base-line-height;
      .hamburger {
        margin-left: 0;
      }
    }
    .menu-content {
      nav.menu-nav {
        border: 0;
      }
    }
    .menu {
      a.anchor {
        display: block;
        position: relative;
        // top: - ($base-line-height * 3);
      }
    }
    .legend {
      display: block;
    }
  }
}

@media print {
  nav {
    display: none;
  }
}
