<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= data.location_name %> Menus</title>
    <% unless data.location_description.empty? -%>
    <meta name="description" content="<%= data.location_description %> Menus">
    <%- end %>

    <style class="embed">
<%= SassC::Engine.new(
  ERB.new(
    File.read('themes/standard.theme/styles.scss'),
      nil, nil, '_sub01'
  ).result(binding),
  {
    style: :compressed,
    load_paths: Theme.new(args[:theme]).
      folders.map{|folder| File.join(Dir.pwd, folder) }
  }
).render
%>
    </style>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css">

    <%= ERB.new(Theme.new(args[:theme]).file('head.html'), nil, nil, 'head').result(binding) %>
  </head>
  <body>

    <div class="menu-driver" id="menu-driver">

      <% if args[:'vertical_grid'] %>
      <div class="baseline-grid">
        <% 200.times do %>
          <div class="guide"></div>
        <% end %>
      </div>
      <% end %>

      <%= ERB.new(Theme.new(args[:theme]).file('header.html'), nil, nil, 'header').result(binding) %>

      <div class="menu-content">

        <%= ERB.new(Theme.new(args[:theme]).file('hamburger.html'), nil, nil, 'hamburger').result(binding) %>

          <div id="category-nav-thumb">
            <a class="scroll-thumb" href="#">
              <svg class="scroll-thumb top" viewBox="-1 -1 2 2">
                <polygon points="0,-1 0.8660266282,0.4999978793 -0.8660266282,0.4999978793" />
              </svg>
            </a>
          </div>

          <% if data.named_categories.size > 0 %>

          <nav id="category-nav" class="category-nav">
            <a class="scroll-thumb left" href="javascript:void();"
              style="display: none;" onclick='scrollNavLeft("category-nav")' >
              <svg class="scroll-thumb" viewBox="-1 -1 2 2">
                <polygon points="-1,0 0.4999978793,0.8660266282 0.4999978793,-0.8660266282" />
              </svg>
            </a>
            <ul class="categories" onscroll="orientScrollThumbs('category-nav')">
            <% data.categories.each_with_index do |category, index| %>
              <li data-category="<%= category %>"
                <% if index.zero? %>class="current"<% end %>
                ><a href="javascript:void();"><%= category %></a></li>
            <% end %>
            </ul>
            <a class="scroll-thumb right" href="javascript:void();"
              style="display: none;" onclick='scrollNavRight("category-nav")'>
              <svg viewBox="-1 -1 2 2">
                <polygon points="1,0 -0.4999978793,0.8660266282 -0.4999978793,-0.8660266282" />
              </svg>
            </a>
          </nav>

        <% else %>
          <nav id="category-nav" class="category-nav collapsed">
          </nav>
        <% end %>

        <nav id="menu-nav" class="menu-nav">
          <a class="scroll-thumb left" href="javascript:void();"
            style="display: none;" onclick='scrollNavLeft("menu-nav")'>
            <svg class="scroll-thumb" viewBox="-1 -1 2 2">
              <polygon points="-1,0 0.4999978793,0.8660266282 0.4999978793,-0.8660266282" />
            </svg>
          </a>
          <ul class="menus <% if data.named_categories.size > 0 %>has-categories<% end %>" onscroll="orientScrollThumbs('menu-nav')">
          <% grouped_menus = data.menus.group_by(&:category); currentHasBeenSet = false %>
          <% grouped_menus.keys.each do |category| %>
            <% if data.named_categories.size > 1 %>
              <li data-category="<%= category %>"
                class="category_header">
                <a href="#m<%= grouped_menus[category].first.id %>"
                  class="category_header"
                  data-menu="menu-<%= grouped_menus[category].first.id %>"
                  onclick="showCurrentMenu('<%= grouped_menus[category].first.id %>');"><%= category %></a>
              </li>
            <% end %>
            <% grouped_menus[category].each do |menu| %>
              <li data-category="<%= menu[:category] %>"
                class="<% if menu.language.eql?('ar') %>rtl <% end %>">
                <a href="#m<%= menu.id %>" data-menu="menu-<%= menu.id %>"
                  class="<% unless currentHasBeenSet %>current <%; currentHasBeenSet = true; end %>"
                  onclick="showCurrentMenu('<%= menu.id %>');"><%= menu.name %></a>
              </li>
            <% end %>
          <% end %>
          </ul>
          <a class="scroll-thumb right" href="javascript:void();"
            style="display: none;" onclick='scrollNavRight("menu-nav")'>
            <svg viewBox="-1 -1 2 2">
              <polygon points="1,0 -0.4999978793,0.8660266282 -0.4999978793,-0.8660266282" />
            </svg>
          </a>

          <%= ERB.new(Theme.new(args[:theme]).file('legend.html'), nil, nil, 'tracking').result(binding) %>
        </nav>

        <ul class="menus">
        <% data.menus.group_by(&:category).each do |category_group| %>

          <li class="category">
            <h1 class="category_name"><%= category_group[0] %></h1>
          </li>

          <% for menu in category_group[1] %>

            <li id="menu-<%= menu.id %>" data-category="<%= menu[:category] %>"
              <% if menu.language.eql?('ar') %>
               class="menu rtl" dir="rtl"
              <% else %>
                class="menu"
              <% end %> >
              <a class="anchor" id="m<%= menu.id %>"></a>

              <% unless menu.name.nil? || menu.name.strip.empty? %><div class="name"><%= menu.name %></div><% end %>
              <div class="meta">
                <% unless menu.description.nil? || menu.description.strip.empty? %><div class="description"><%= menu.description %></div><% end %>
                <% unless menu.footnote.nil? || menu.footnote.strip.empty? %><div class="footnote"><%= menu.footnote %></div><% end %>
              </div>

              <ul class="sections">
              <% for section in menu.sections -%>
                <li class="section" id="section-<%= section.id %>">
                  <div class="meta">
                    <% unless section.name.nil? || section.name.strip.empty? %><div class="name"><%= section.name %></div><% end %>
                    <% unless section.description.nil? || section.description.strip.empty? %>
                      <div class="description"><%= section.description %></div>
                    <% end %>
                  </div>

                  <ul class="items">
                  <% for item in section.items -%>
                    <li class="item<%= ' multiple-prices' if item.choices.count > 1 %>" id="item-<%= item.id %>">
                      <div class="about">

                        <% unless item.name.nil? || item.name.strip.empty? %>
                        <div class="name">
                          <%= item.name %>

                          <% if item.photos.size > 0 %>
                            <% photo_id = item.photos.first.photo_id %>
                            <%# TODO: https://fontawesome.com/how-to-use/on-the-web/other-topics/accessibility %>
                            <a class="item-image-link"
                              onclick="showImage('<%= photo_id %>');"><i
                              class="fas fa-camera"></i></a>
                          <% end %>
                        </div>
                        <% end %>

                        <% unless item.description.nil? || item.description.strip.empty? %>
                          <div class="description"><%= item.description %></div>
                        <% end %>
                      </div>

                      <% if item.choices.count > 0 -%>
                      <ul class="choices">
                        <% for choice in item.choices -%>
                          <li class="choice">
                            <% unless choice.name.nil? || choice.name.strip.empty? -%>
                              <div class="name"><%= choice.name %></div>
                            <% end %>
                            <div class="price"><%- if(args[:'high_prices']) -%>
    <%= choice.prices['min'] * 2 -%>
                              <%- else -%>
    <%= choice.prices['min'] -%>
                            <%- end -%></div>
                          </li>
                        <% end %>
                      </ul>
                      <% end %>

                    </li>

                    <% if item.additions.count > 0 -%>
                    <li>
                    <ul class="additions">
                      <% for addition in item.additions -%>
                        <li class="addition">
                          <% unless addition.name.nil? || addition.name.strip.empty? -%>
                            <div class="name"><%= addition.name %></div>
                          <% end %>
                          <div class="price"><%- if(args[:'high_prices']) -%>
  <%= addition.prices['min'] * 2 -%>
                            <%- else -%>
  <%= addition.prices['min'] -%>
                          <%- end -%></div>
                        </li>
                      <% end %>
                    </ul>
                    </li>
                    <% end %>

                  <% end %>
                  </ul>

                </li>
              <% end %>
              </ul>

            </li>
          <% end %>
        <% end %>
        </ul>

      </div><!-- .menu-content -->

    <%= ERB.new(Theme.new(args[:theme]).file('cookie-notice.html'), nil, nil, 'cookieNotice').result(binding) %>

    <%= ERB.new(Theme.new(args[:theme]).file('image.html'), nil, nil, 'image').result(binding) %>

    </div><!-- .menu-driver -->

    <%= ERB.new(Theme.new(args[:theme]).file('footer.html'), nil, nil, 'tracking').result(binding) %>

    <script class="embed" defer src="scripts.js"></script>

    <link class="embed" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">

    <%= ERB.new(Theme.new(args[:theme]).file('tracking.html'), nil, nil, 'tracking').result(binding) %>
  </body>
</html>
