<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= location_id %></title>
    <meta name="description" content="Menus for <%= location_id %>">

    <style>
<%= SassC::Engine.new(
  ERB.new(
    File.read('themes/standard.theme/styles.scss'),
      nil, nil, '_sub01'
  ).result(binding),
  {
    style: :compressed, 
    load_paths: Theme.new(args[:theme]).
      folders.map{|folder| File.join(Dir.pwd, folder) }
  }
).render
%>
    </style>
  </head>
  <body>

    <div class="menu-driver">

      <% if args[:'vertical_grid'] %> 
      <div class="baseline-grid">
        <% 200.times do %>
          <div class="guide"></div>
        <% end %>
      </div>
      <% end %>

      <%= ERB.new(Theme.new(args[:theme]).file('header.html'), nil, nil, 'header').result(binding) %>
      
      <div class="menu-content">

        <%= ERB.new(Theme.new(args[:theme]).file('hamburger.html'), nil, nil, 'hamburger').result(binding) %>

        <% if data.categories.size > 1 %>
        <nav id="category-nav" class="category-nav">
          <ul class="categories">
          <% data.categories.each_with_index do |category, index| %>
            <li data-category="<%= category %>"
              <% if index.zero? %>class="current"<% end %>
              ><a href="#"><%= category %></a></li>
          <% end %>
          </ul>
        </nav>
        <% end %>

        <nav class="menu-nav">
          <ul class="menus">
          <% for menu in data.menus %>
            <li data-category="<%= menu[:category] %>"
              <% if menu.language.eql?('ar') %>class="rtl"<% end %>>
              <a href="#m<%= menu.id %>" data-menu="menu-<%= menu.id %>"><%= menu.name %></a>
            </li>
          <% end %>
          </ul>
        </nav>
  
        <ul class="menus">
        <% for menu in data.menus %>
          <li id="menu-<%= menu.id %>" data-category="<%= menu[:category] %>"
            <% if menu.language.eql?('ar') %>
             class="menu rtl" dir="rtl"
            <% else %>
              class="menu"
            <% end %> >
            <a class="anchor" id="m<%= menu.id %>"></a>
            <div class="name"><%= menu.name %></div>
            <div class="description"><%= menu.description %></div>
            
            <ul class="sections">
            <% for section in menu.sections -%>
              <li class="section" id="section-<%= section.id %>">
                <% unless section.name.nil? || section.name.strip.empty? %><div class="name"><%= section.name %></div><% end %>
                <% unless section.description.nil? || section.description.strip.empty? %>
                  <div class="description"><%= section.description %></div>
                <% end %>
      
                <ul class="items">
                <% for item in section.items -%>
                  <li class="item<%= ' multiple-prices' if item.choices.count > 1 %>" id="item-<%= item.id %>">
                    <div class="about">
                      <% unless item.name.nil? || item.name.strip.empty? %><div class="name"><%= item.name %></div><% end %>
                      <% unless item.description.nil? || item.description.strip.empty? %>
                        <div class="description"><%= item.description %></div>
                      <% end %>
                    </div>
    
                    <% if item.choices.count > 0 -%>
                    <ul class="choices">
                      <% for choice in item.choices -%>
                        <li class="choice">
                          <% unless choice.name.nil? || choice.name.strip.empty? -%>
                            <div class="name"><%= choice.name %></div>
                          <% end %>
                          <div class="price"><%- if(args[:'high_prices']) -%> 
  <%= choice.prices['min'] * 2 -%>
                            <%- else -%>
  <%= choice.prices['min'] -%>
                          <%- end -%></div>
                        </li>
                      <% end %>
                    </ul>
                    <% end %>
    
                  </li>
                <% end %>
                </ul>
                
              </li>
            <% end %>
            </ul>
            
          </li>
        <% end %>
        </ul>

      </div><!-- .menu-content -->

    </div><!-- .menu-driver -->

    <script defer src="scripts.js"></script>
  </body>
</html>