@function type-scale($level) {
  @return map-get(
    map-get($type-settings, $level), 'font-size');
}

@function line-height($level) {
  @return map-get(
    map-get($type-settings, $level), 'line-height');
}

@mixin type-setting($level) {
  font-size: type-scale($level);
  line-height: line-height($level);
}

.heading-2 {
  @include type-setting(-1);
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 4px;
  color: menus-color('gray');
}

.heading-1 {
  @include type-setting(2);
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 1 * $base-line-height 0;
}

div, header {
  @include type-setting(0);
  margin: 0 0 $base-line-height 0;
}

*, *:before, *:after {
  box-sizing: border-box;
  position: relative;
}

html {
  scroll-behavior: smooth;
}
html, body {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  justify-content: center;
}

.menu-driver {
  padding: $base-line-height;

  header {
    @include type-setting(2);
    width: 100%;
    text-align: center;
  }

  .menu > .name {
    @include type-setting(2);
    text-align: center;
  }
  .menu {
    padding: $base-line-height - $border-width;
    border-style: solid;
    border-width: $border-width;
    margin-bottom: $base-line-height;

    .section > .name {
      @include type-setting(1);
    }
    .section {
      .name {
        margin-bottom: $base-line-height;
      }
      .item {
        @include type-setting(0);
        margin-bottom: $base-line-height;
        display: flex;

        .about {
          flex: 1 100%;
          padding-right: $base-line-height;
          margin-bottom: 0;

          .name, .description, .choices {
            margin-bottom: 0;
          }
          .description {
            @include type-setting(-1);
            margin-right: - $base-line-height;
          }
        }
        .choices {
          .choice {
            display: flex;
            .name {
              flex: 1 100%;
              margin-right: $base-line-height;
              @include type-setting(-1);
            }
          }
        }
      }
      .item.multiple-prices {
        flex-wrap: wrap;
        @include type-setting(-1);

        .choices {
          width: 100%;
          margin-top: $base-line-height;
        }
      }
    }
  }
  .menu.rtl {
    text-align: right;

    .section {
      .item {
        .about {
          padding-right: 0;
          padding-left: $base-line-height;
          .description {
            margin-right: 0;
            margin-left: $base-line-height;
          }
        }
      }
    }
  }
  .menu.hidden-category {
    display: none;
  }

  .baseline-grid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 3;
    pointer-events: none;
    opacity: 0.25;
  }

  .guide {
    margin-bottom: 5 * $base-line-height;

    &, &:before, &:after {
      height: $base-line-height;
      width: 100%;
      outline: 3px dashed grey;
    }

    &:before, &:after {
      content: '';
      display: block;
      position: absolute;
      top: 200%;
    }

    &:after {
      top: 400%;
    }
  }

  nav.category-nav, nav.menu-nav {
    padding-top: 1 * $base-line-height;
    padding-bottom: 2 * $base-line-height - $border-width;
    border-width: 0;
    border-style: solid;
    margin-left: -$base-line-height;
    margin-right: -$base-line-height;
    white-space: nowrap;

    ul {
      min-width: 100%;
      align-content: space-around;
      display: flex;
      flex-wrap: nowrap;
      list-style: none;
      margin: 0;

      li {
        display: inline;
        list-style-type: none;
        padding-left: $base-line-height;
        a:link {
          text-decoration: none;
        }
      }
      li.rtl {
        text-align: right;
      }
      li.hidden-category {
        display: none;
      }
      li:last-child {
        padding-right: $base-line-height;
      }
    }
    ul::before, ul::after {
      content: '';  /* Insert pseudo-element */
      margin: auto; /* Make it push flex items to the center */
    }
  }
  nav.category-nav {
    border-bottom-width: $border-width;
    overflow: auto;
    ul {
      display: flex;
      align-content: space-around;
    }
  }
  nav.menu-nav  {
    white-space: nowrap;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
    height: $base-line-height * 3;
    border-width: 0;
    border-style: solid;
    padding-top: 1 * $base-line-height;
    padding-bottom: 2 * $base-line-height - $border-width;
    border-bottom-width: $border-width;
    @include type-setting(0);
    overflow: auto;
    margin-bottom: $base-line-height;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  nav::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  nav {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .menu {
    a.anchor {
      display: block;
      position: relative;
      top: - ($base-line-height * 5);
    }
  }

  #cookie-notice {
    @extend %sans-serif-font;
    @include type-setting(-1);
    text-align: justify;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 3;
    transition: 1s;
    transition-timing-function: ease-in-out;
    background-color: var(--menu-background-color);
    margin:0;
    padding: 0 $base-line-height 0 $base-line-height;
    opacity: 0;
    pointer-events: none;

    border: 0;
    border-top-color: var(--border-color);
    border-top-width: var(--border-width);
    border-top-style: solid;

    a, a:visited {
      color: var(--menu-background-color);
      background-color: var(--menu-color);
      text-decoration: none;
      padding-left: 1rem;
      padding-right: 1rem;
      float: right;
      line-height: 1.2 * $base-font-size;
      margin-top: ($base-line-height - (1.2 * $base-font-size)) / 2;
    }
  }
  #cookie-notice.visible {
    opacity: 1;
    pointer-events: auto;
  }

  #menu-item-image {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: 0;
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    transition-timing-function: ease-in-out;
    color: var(--menu-background-color);
    background-color: var(--menu-color);
    #close-icon {
      position: fixed;
      top: 0px;
      padding-top: 1rem;
      right: 0px;
      padding-right: 1rem;
      z-index: 3;

      color: var(--menu-background-color);
    }
  }
  #menu-item-image.visible {
    opacity: 1;
    pointer-events: auto;
  }
}

@media // only screen and (min-width: 600px) and (max-width: 767px),
  only screen and (min-width: 1024px) {
  .items {
    display: flex;
    flex-wrap: wrap;
    .item {
      width: 50%;
    }
    .item:nth-child(even) {
      padding-left: 1.5 * $base-line-height;
    }
    .item:nth-child(odd) {
      padding-right: 1.5 * $base-line-height;
    }
  }
  .menu.rtl .items {
    .item:nth-child(even) {
      padding-left: 0;
      padding-right: 1.5 * $base-line-height;
    }
    .item:nth-child(odd) {
      padding-right: 0;
      padding-left: 1.5 * $base-line-height;
    }
  }
}

@media only screen and (min-width: 768px) {
  .menu-driver .menu-content {
    display: flex;
    align-items: flex-start;

    nav#category-nav {
      display: none;
    }
    nav.menu-nav {
      ul {
        display: block;
      }
    }
    nav {
      min-width: 10rem;
      top: 0;
      height: 100%;
      white-space: unset;
      padding-top: $base-line-height;
      padding-right: $base-line-height;
      border-style: unset;
      border-top: unset;
      border-bottom: unset;
      margin-left: 0;
      margin-right: 0;

      ul {
        li {
          display: list-item;
          @include type-setting(0);
          padding-left: 0;
          padding-bottom: $base-line-height / 2;
        }
        li:last-child {
          padding-right: unset;
        }
      }
    }
  }
  .menu {
    a.anchor {
      top: - ($base-line-height * 2);
    }
  }
}
@media only screen and (min-width: 1024px) {
  .menu-driver {
    nav {
      min-width: 20%;
    }
  }
}
