@function type-scale($level) {
  @return map-get(
    map-get($type-settings, $level), 'font-size');
}

@function line-height($level) {
  @return map-get(
    map-get($type-settings, $level), 'line-height');
}

@mixin type-setting($level) {
  font-size: type-scale($level);
  line-height: line-height($level);
}

div, header {
  @include type-setting(0);
}
div {
  margin: 0 0 $base-line-height 0;
}
header {
  margin: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
  position: relative;
}

html {
  scroll-behavior: smooth;
}
html, body {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  justify-content: center;
}

.menu-driver {
  padding: $base-line-height;
  padding-bottom: 0;
  margin-bottom: 0;

  .menu-content {
    margin-bottom: 0;

    .menus {
      li:last-child {
        margin-bottom: 0;
      }
    }
  }

  header {
    @include type-setting(3);
    width: 100%;
    text-align: center;
    .location {
      svg {
        width: 60vw;
      }
    }
  }

  .menu > .name, .category > .category_name {
    @include type-setting(3);
    text-align: center;
  }
  .category {
    display: none;
  }
  .menu, .category {
    padding: $base-line-height - $border-width;
    border-style: solid;
    border-width: $border-width;
    margin-bottom: $base-line-height;

    .footnote {
      @include type-setting(-2);
      color: var(--menu-secondary-color);
      text-align: left;
      font-style: normal;
    }

    .meta {
      margin: 0;
    }

    .section > .meta > .name {
      @include type-setting(1);
    }
    .section > .meta > .description {
      @include type-setting(0);
      margin: 0;
    }
    .section {
      .name {
        // margin-bottom: $base-line-height;
      }
      .item {
        @include type-setting(0);
        margin-bottom: $base-line-height;
        display: flex;

        .about {
          flex: 1 100%;
          padding-right: $base-line-height;
          margin-bottom: 0;

          .name, .description, .choices {
            margin-bottom: 0;
          }
          .description {
            @include type-setting(0);
            margin-right: - $base-line-height;
          }
        }
        .choices {
          .choice {
            display: flex;
            .name {
              flex: 1 100%;
              margin-right: $base-line-height;
              @include type-setting(0);
            }
            .price {
              margin: 0;
              min-width: $base-line-height;
            }
          }
        }
      }
      .additions {
        margin-bottom: $base-line-height;
        .addition {
          display: flex;
          .name {
            flex: 1 100%;
            margin-right: $base-line-height;
            @include type-setting(0);
          }
          .price {
            margin: 0;
            min-width: $base-line-height;
          }
        }
      }
      .item.multiple-prices {
        flex-wrap: wrap;
        @include type-setting(0);

        .choices {
          width: 100%;
          margin-top: $base-line-height;
        }
      }
    }
    .section > .meta {
      padding-bottom: $base-line-height;
    }
  }
  .menu.rtl {
    text-align: right;

    .section {
      .item {
        .about {
          padding-right: 0;
          padding-left: $base-line-height;
          .description {
            margin-right: 0;
            margin-left: $base-line-height;
          }
        }
      }
    }
  }
  .menu.hidden {
    display: none;
  }

  .baseline-grid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 4;
    pointer-events: none;
    opacity: 0.25;
  }

  .guide {
    margin-bottom: 5 * $base-line-height;

    &, &:before, &:after {
      height: $base-line-height;
      width: 100%;
      outline: 1px dashed grey;
    }

    &:before, &:after {
      content: '';
      display: block;
      position: absolute;
      top: 200%;
    }

    &:after {
      top: 400%;
    }
  }

  nav.category-nav, nav.menu-nav {
    @include type-setting(0);
    padding: 0;
    border-width: 0;
    border-style: solid;
    margin-left: -$base-line-height;
    margin-right: -$base-line-height;
    white-space: nowrap;

    /* Hide scrollbar for Chrome, Safari and Opera */
    ul::-webkit-scrollbar {
      display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    ul {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }

    ul {
      flex-grow: 1;
      overflow-x: auto;
      align-content: space-around;
      display: flex;
      flex-wrap: nowrap;
      list-style: none;
      margin: 0;
      padding-top: $base-line-height;
      padding-bottom: $base-line-height;

      li {
        display: inline;
        list-style-type: none;
        padding-left: $base-line-height;
        a:link {
          text-decoration: none;
        }
      }
      li.rtl {
        text-align: right;
      }
      li.hidden {
        display: none;
      }
      li.category_header {
        display: none;
        @extend %serif-font;
        @include type-setting(0);
        color: var(--menu-secondary-color);
      }
    }
    ul::before, ul::after {
      content: '';  /* Insert pseudo-element */
      margin: auto; /* Make it push flex items to the center */
    }
    ul::after {
      padding-right: $base-line-height;
      min-height: 1px;
    }
  }
  nav.category-nav {
    border-bottom-width: $border-width;
    overflow: auto;
    display: flex;
    ul {
      display: flex;
      align-content: space-around;
    }
    margin-top: -$base-line-height
  }
  nav.category-nav.collapsed {
    height: $base-line-height;
    margin-bottom: -$base-line-height;
  }
  #category-nav-thumb {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  nav.menu-nav  {
    white-space: nowrap;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
    // height: $base-line-height * 3;
    border-width: 0;
    border-style: solid;
    border-bottom-width: $border-width;
    overflow: auto;
    margin-top: -$base-line-height;
  }

  .menu {
    a.anchor {
      display: block;
      position: relative;
      top: - ($base-line-height * 4);
    }
  }

  #cookie-notice {
    @extend %sans-serif-font;
    @include type-setting(-2);
    text-align: justify;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 3;
    transition: 1s;
    transition-timing-function: ease-in-out;
    background-color: var(--menu-background-color);
    margin:0;
    padding: $base-line-height/2 $base-line-height $base-line-height/2 $base-line-height;
    opacity: 0;
    pointer-events: none;

    border: 0;
    border-top-color: var(--border-color);
    border-top-width: var(--border-width);
    border-top-style: solid;

    display: flex;
    align-items: center;
    div {
      margin: 0;
    }
    .copy, .button {
      @include type-setting(-2);
      line-height: 0.5rem;
    }
    .button {
      margin-left: $base-line-height;
    }

    a, a:visited {
      color: var(--menu-background-color);
      background-color: var(--menu-color);
      text-decoration: none;
      padding-left: 1rem;
      padding-right: 1rem;
      float: right;
      line-height: 1.2 * $base-font-size;
      margin-top: ($base-line-height - (1.2 * $base-font-size)) / 2;
    }
  }
  #cookie-notice.visible {
    opacity: 1;
    pointer-events: auto;
  }

  #menu-item-image {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: 0;
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    transition-timing-function: ease-in-out;
    color: var(--menu-background-color);
    background-color: var(--menu-color);
    #close-icon {
      position: fixed;
      top: 0px;
      padding-top: 1rem;
      right: 0px;
      padding-right: 1rem;
      z-index: 3;

      color: var(--menu-background-color);
    }
    #menu-item-image-panel {
      margin: 0;
      img {
        display: block;
        width: auto;
        height: auto;
        max-width: 100vw;
        max-height: 100vh;
        margin: 20px auto;
      }
    }
  }
  #menu-item-image.visible {
    opacity: 1;
    pointer-events: auto;
  }

  .scroll-thumb {
    width: $base-line-height;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    svg {
      width: $base-line-height;
      height: $base-line-height;
    }
  }
  .scroll-thumb.right {
    padding-right: $base-line-height / 4;
  }
  .scroll-thumb.left {
    padding-left: $base-line-height / 4;
  }
  .scroll-thumb.top {
    padding-top: $base-line-height / 4;
  }

  .legend.top {
    display: none;
  }
  .legend {
    div {
      @include type-setting(-2);
    }
    padding: 0 $base-line-height 0 $base-line-height;
  }
}

.menu-driver.has-categories {
    nav.menu-nav  {
      margin-top: 0;
    }
}

@media // only screen and (min-width: 600px) and (max-width: 767px),
  only screen and (min-width: 1024px) {
  .items {
    display: flex;
    flex-wrap: wrap;
    .item {
      width: 50%;
    }
    .item:nth-child(even) {
      padding-left: 1.5 * $base-line-height;
    }
    .item:nth-child(odd) {
      padding-right: 1.5 * $base-line-height;
    }
  }
  .menu.rtl .items {
    .item:nth-child(even) {
      padding-left: 0;
      padding-right: 1.5 * $base-line-height;
    }
    .item:nth-child(odd) {
      padding-right: 0;
      padding-left: 1.5 * $base-line-height;
    }
  }
}

@media only screen and (max-width: 767px) {
  .menu-driver.has-categories .menu-content {
    .menu > .name {
      display: none;
    }
  }
}
@media only screen and (min-width: 768px) {
  .menu-driver .menu-content {
    nav.menu-nav {
      ul {
        padding: 0;
      }
    }
  }

  .menu-driver.has-categories .menu-content {
    nav.menu-nav {
      ul {
        li {
          padding-left: $base-line-height / 2;
        }
        li.category_header {
          padding-left: 0;
        }
      }
    }
  }

  .menu-driver {
    .legend.bottom {
      display: none;
    }
    .legend {
      @include type-setting(-2);
      div {
        @include type-setting(-2);
      }
      padding: 0;
      ul {
        padding-top: 0;
        li {
          padding-left: 0;
        }
      }
    }
  }

  .menu-driver .menu-content {
    display: flex;
    align-items: flex-start;

    nav#category-nav {
      display: none;
    }
    nav.menu-nav {
      @include type-setting(-1);
      overflow: visible;
      position: relative;
      flex-direction: column;
      flex: 0;
      ul {
        display: block;
        li.category_header {
          padding-left: 0;
        }
      }
      .legend.top {
        display: block;
      }
    }
    nav {
      @include type-setting(1);
      min-width: 10rem;
      top: 0;
      height: 100%;
      white-space: unset;
      padding-top: 0;
      padding-right: $base-line-height;
      border-style: unset;
      border-top: unset;
      border-bottom: unset;
      margin-left: 0;
      margin-right: 0;
      margin-top: 0;

      ul {
        li {
          display: list-item;
          padding-left: 0;
          padding-bottom: $base-line-height / 4;
        }
        li:last-child {
          padding-right: unset;
        }
        li.category_header {
          display: list-item;
        }
      }
    }
    nav.category-nav, nav.menu-nav {
      line-height: $base-line-height;
      align-items: flex-start;
    }
    .menus {
      margin-top: 0;
      width: 100%;
    }
    .menu {
      .meta {
        min-height: $base-line-height;
      }
      a.anchor {
        top: - ($base-line-height * 3);
      }
    }
    .scroll-thumb, #category-nav-thumb {
      display: none;
    }
  }
  #cookie-notice {
    justify-content: space-between;
  }
}
@media only screen and (min-width: 1024px) {
  .menu-driver {
    nav {
      min-width: 20%;
    }
  }
}
