html {
  font-size: 20px;
}

$base-font-size: 1rem;
$base-line-height: 1.4 * $base-font-size;

$border-width: 0.5rem;

$type-settings: (
  -2: (
    font-size: 0.6rem,
    line-height: $base-line-height
  ),
  -1: (
    font-size: 0.8rem,
    line-height: $base-line-height
  ),
  0: (
    font-size: 0.9rem,
    line-height: $base-line-height
  ),
  1: (
    font-size: 1rem,
    line-height: $base-line-height
  ),
  2: (
    font-size: 1.2rem,
    line-height: $base-line-height * 2
  ),
  3: (
    font-size: 1.4rem,
    line-height: $base-line-height * 2
  )
);

.menu-driver {
  @extend %sans-serif-font;

  header {
    @extend %serif-font;
  }

  .menu > .name {
    @extend %serif-font;
  }
  .menu {
    .section > .meta > .name {
      @extend %serif-font;
    }
    .section > .items > .item > .about > .name {
      @extend %serif-font;
    }
    .section > .items > .item > .about > .description {
      @extend %sans-serif-font;
    }
  }

  nav {
    @extend %serif-font;
  }
}
